# Google Cloud Consoleで作成する「ウェブ アプリケーション」用OAuthクライアントID
# クライアントシークレットはこのファイルやアプリへ設定しないでください。
NEXT_PUBLIC_GOOGLE_CLIENT_ID=xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com

# Google Cloud Consoleで作成する「デスクトップアプリ」用OAuthクライアントID
NEXT_PUBLIC_GOOGLE_DESKTOP_CLIENT_ID=xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com

# デスクトップ用クライアント作成時に表示・ダウンロードされるシークレット
# Electronメインプロセスだけが使用し、NEXT_PUBLIC_は付けません。
GOOGLE_DESKTOP_CLIENT_SECRET=GOCSPX-xxxxxxxxxxxxxxxxxxxxxxxx
